@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import "./color.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono';
   
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg--dark;
    color: $text-color--dark;
}

.main {
    width: 350px;
    background-color: $bg-calc--dark;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .appTitle{
        align-self: center;
        margin-top: 20px;
        font-size: 14px;
        letter-spacing: 2px;

        span {
            color: $primary-color
        }
    }
    .result-container {
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .key-container{
        background-color: $bg-key-container--dark;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px 0;
    }
}