
/* Added diminisions on my calculator and shadowing to make it stand out */
.section-container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17 rgba 153, 153, 153, 1;
}
/* Aligned text display to the right,  */
#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}